.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/*changes for news card */

.cards.newscard > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;   
    flex-direction: row-reverse; 
    align-items: center;
    grid-gap: 16px;
}

.cards.newscard .cards-card-body::before {
    font-size: 32px;
    font-family: 'Alliance Medium', sans-serif;
    letter-spacing: 3.2px;
    line-height: 120%;
    content: "NEWS";
    color: #20201f;
    padding-top: 50px;       
}

.cards.newscard > ul > li {   
    background-color: var(--background-color);
    border: 0;
    display: grid;
       
}

.cards.newscard .cards-card-body {
    
    width: auto;
}

.cards.newscard .cards-card-image {
    display:none;
}

.cards.newscard .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards.newscard .cards-card-body h2 {
    display: block;
    font-size: 45px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;    
    font-family: 'Source Serif4 Light', sans-serif;
    color: #20201f;
    line-height: 120%;
    font-style: normal;
    font-weight: 300;
    padding-top: 25px;
}

.cards.newscard .cards-card-body a{
    font-family:'Alliance Medium', sans-serif;
    font-size:16px;
    letter-spacing:.16px;
    line-height:120%;
    border-bottom:2px solid #90f;
    border-radius:0;
    color:#90f;
    display:inline-block;    
    background: none;   
    text-align: left;
    padding-left: 0; 
    text-decoration: none;   
} 

.cards.newscard .cards-card-body a::after{
    background-image:url('./../../icons/external-arrow-purple.svg');
    content:"";
    display:inline-block;
    height:10px;
    margin-left:8px;
    width:10px;
    padding-right:0;
} 

@media (min-width: 900px){
    .cards.newscard > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;   
        flex-direction: row-reverse; 
        align-items: center;
        grid-gap: 16px;
    }
    
    .cards.newscard .cards-card-body::before {
        font-size: 15px;
        font-family: 'Alliance Medium', sans-serif;
        letter-spacing: 3.2px;
        line-height: 120%;
        content: "NEWS";
        color: #20201f;
        padding-top: 50px;       
    }
    
    .cards.newscard > ul > li {   
        background-color: var(--background-color);
        border: 0;
        display: grid;
        grid-template-columns: 33% 67%;
        grid-gap: 165px;
    }
    
    .cards.newscard .cards-card-body {
        margin: 16px;
        width: 482px;
    }
    
    .cards.newscard .cards-card-image {
        line-height: 0;
        display: block;
    }
    
    .cards.newscard .cards-card-body > *:first-child {
        margin-top: 0;
    }
    
    .cards.newscard > ul > li img {   
        border-radius: 0 90% 0 0;      
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
    
    .cards.newscard .cards-card-body h2 {
        display: block;
        font-size: 45px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0;
        margin-inline-end: 0;    
        font-family: 'Source Serif4 Light', sans-serif;
        color: #20201f;
        line-height: 120%;
        font-style: normal;
        font-weight: 300;
        padding-top: 25px;
    }
    
    .cards.newscard .cards-card-body a{
        font-family:'Alliance Medium', sans-serif;
        font-size:16px;
        letter-spacing:.16px;
        line-height:120%;
        border-bottom:2px solid #90f;
        border-radius:0;
        color:#90f;
        display:inline-block;    
        background: none;   
        text-align: left;
        padding-left: 0; 
        text-decoration: none;   
    } 
    
    .cards.newscard .cards-card-body a::after{
        background-image:url('./../../icons/external-arrow-purple.svg');
        content:"";
        display:inline-block;
        height:10px;
        margin-left:8px;
        width:10px;
        padding-right:0;
    } 
    }

    @media (min-width: 1200px){
        .cards.newscard > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;   
            flex-direction: row-reverse; 
            align-items: center;
            grid-gap: 16px;
        }
        
        .cards.newscard .cards-card-body::before {
            font-size: 15px;
            font-family: 'Alliance Medium', sans-serif;
            letter-spacing: 3.2px;
            line-height: 120%;
            content: "NEWS";
            color: #20201f;
            padding-top: 50px;       
        }
        
        .cards.newscard > ul > li {   
            background-color: var(--background-color);
            border: 0;
            display: grid;
            grid-template-columns: 33% 67%;
            grid-gap: 165px;
        }
        
        .cards.newscard .cards-card-body {
            margin: 16px;
            width: 582px;
        }
        
        .cards.newscard .cards-card-image {
            line-height: 0;
            display: block;
            aspect-ratio: 1 / 1;
        }
        
        .cards.newscard .cards-card-body > *:first-child {
            margin-top: 0;
        }
        
        .cards.newscard > ul > li img {   
            border-radius: 0 90% 0 0;      
            object-fit: cover;
        }
        
        .cards.newscard .cards-card-body h2 {
            display: block;
            font-size: 45px;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0;
            margin-inline-end: 0;    
            font-family: 'Source Serif4 Light', sans-serif;
            color: #20201f;
            line-height: 120%;
            font-style: normal;
            font-weight: 300;
            padding-top: 25px;
        }
        
        .cards.newscard .cards-card-body a{
            font-family:'Alliance Medium', sans-serif;
            font-size:16px;
            letter-spacing:.16px;
            line-height:120%;
            border-bottom:2px solid #90f;
            border-radius:0;
            color:#90f;
            display:inline-block;    
            background: none;   
            text-align: left;
            padding-left: 0; 
            text-decoration: none;   
        } 
        
        .cards.newscard .cards-card-body a::after{
            background-image:url('./../../icons/external-arrow-purple.svg');
            content:"";
            display:inline-block;
            height:10px;
            margin-left:8px;
            width:10px;
            padding-right:0;
        } 
        }