/* below the fold CSS goes here */
@font-face{
    font-family:"Source Serif4 Light";
    src:url("/styles/fonts/SourceSerif4/SourceSerif4-Light.woff2") format("woff2");
    font-display:swap;
}

@font-face{
    font-family:"Alliance Light";
    src:url("/styles/fonts/Alliance/AllianceNo.1-Light.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family:"Alliance Medium";
    src:url("/styles/fonts/Alliance/AllianceNo.1-Medium.woff2") format("woff2");
    font-display: swap;
}